In [ ]:
# 숫자형 

# 1. 정수: 양수, 음수, 0
x = 1
y =  - 2

# 2. 실수: 소수점이 있는 숫자
x = 3.14
y = 1.0

# 3. 복소수: 실수와 허수 요소를 가진 숫자
z = 3 + 4j

In [ ]:
# 문자열
name = "김예인"
message = "Hello, Wolrd!"

In [ ]:
# Boolean: True/False
is_happy = True
is_sad = False

x = 5
y = 10
result = x < y

In [ ]:
# 리스트: 다수의 데이터 저장, 대괄호를 사용하여 정의, 다른 자료형의 요소 가능
fruits = ["apple", "banana", "cherry"]

first_fruit = fruit[0] # "apple"
second_fruit = fruit[1] # "banana"
third_fruit = fruit[2] # "cherry"

In [ ]:
# 튜플: 리스트와 유사, 하지만 한 번 생성하면 변경 불가 -> 안정성이 중요한 상황에서 사용, 괄호 사용

fruit = ("apple", "banana", "cherry")

first_fruit = fruit[0] # "apple"
second_fruit = fruit[1] # "banana"
third_fruit = fruit[2] # " cherry"

In [ ]:
# 딕셔너리: 키(key) - 값(Value) 쌍으로 구성, 키는 값을 식별하는 역할
# 주어진 키를 이용하여 키에 해당하는 값을 찾을 수 있음 => 키 값은 유일해야 하므로 동일한 키 가뵤 사용 X
# 순서는 중요하지 않음, 중괄호 사용

# key 'name', 'age', 'city'
# value 'John', 30, 'new York'
person = {'name': 'John', 'age':30, 'city':'New York'}

name = person['name'] # "John"
age = person['age'] # 30
city = person['city'] # 'New York'

In [ ]:
# 집합(Set): 중복된 값이 없는 유일한 값들의 모임(순서 X) -> 인덱스로 접근 X
# 대신 집합에 특정 값이 포함되어 있는지 확인 가능, 다양한 연산 지원
# 중괄호 사용

# 집합은 중복된 값을 포함할 수 없다
fruits = {'apple', 'banana', 'cherry', 'apple'}  # {'banana', 'cherry', apple'}

print('apple' in fruits) # True
print('Orange' in fruits) # False